:root,
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

section {
  margin: 20px 20px;
  padding: 0 20px;
}

h1,
h2,
h3 {
  font-family: "Inter";
}

p,
a {
  font-family: "Lato";
}

.header {
  margin: 30px 20px;
  padding: 0 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .header {
    padding: 10px 20px;
    height: 60px;
    margin: 0;
  }
}
.header img {
  width: 10%;
  margin-top: -15px;
}
@media screen and (max-width: 768px) {
  .header img {
    width: 50%;
  }
}
.header__nav {
  width: 50%;
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 768px) {
  .header__nav {
    display: none;
  }
}
.header i {
  display: none;
}
@media screen and (max-width: 768px) {
  .header i {
    display: block;
    padding: 15px;
    background: black;
    color: white;
    box-sizing: border-box;
    border-radius: 25px;
    margin: 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.developer {
  height: 90vh;
  margin: 0;
  overflow: hidden;
  padding: 40px 50px;
  background: url("../images/svg/Vector1.svg"), url("../images/svg/Vector2.svg");
  background-position: center center, center center;
  background-repeat: no-repeat, no-repeat;
  background-size: 100% 100%, 100% 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .developer {
    flex-direction: column;
    padding: 40px 20px;
    height: 100vh;
    justify-content: space-evenly;
    background: linear-gradient(180deg, #6caeff, white);
    background-size: 100% 100%;
  }
}
.developer article {
  width: 50%;
}
@media screen and (max-width: 768px) {
  .developer article {
    width: 100%;
    box-sizing: border-box;
  }
}
.developer__text {
  padding: 20px 80px;
  height: 50%;
  margin: 150px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
@media screen and (max-width: 768px) {
  .developer__text {
    padding: 10px 20px;
    display: block;
    margin: 0;
    width: 100%;
    color: black;
    text-shadow: 2px 2px 6px #FCDDEC;
    height: auto;
  }
}
.developer__text h1 {
  font-size: 50px;
}
@media screen and (max-width: 768px) {
  .developer__text h1 {
    font-size: 28px;
    height: 100px;
  }
}
.developer__text p {
  margin: 50px auto 60px auto;
}
@media screen and (max-width: 768px) {
  .developer__text p {
    display: none;
  }
}
.developer__text button {
  background-color: black;
  padding: 10px 15px;
  border: none;
  border-radius: 25px;
  color: white;
}
@media screen and (max-width: 768px) {
  .developer__text button {
    background: #FCDDEC;
    color: black;
    display: none;
  }
}
.developer__text button .fa-chevron-right {
  font-size: 10px;
}
.developer__img {
  position: relative;
}
@media screen and (max-width: 768px) {
  .developer__img {
    height: 500px;
    width: 100%;
  }
}
.developer__img-content {
  position: absolute;
  width: 30vw;
  height: 35vh;
  right: 25%;
  bottom: 35%;
  overflow: visible;
}
@media screen and (max-width: 768px) {
  .developer__img-content {
    padding: 10px 20px;
    margin: 20px 0 0 0;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media screen and (min-width: 768px) {
  .developer__img-content {
    bottom: 25%;
  }
}
.developer__img-content-1 {
  position: absolute;
  width: 165%;
  height: 165%;
  left: 50%;
  top: 60%;
  scale: none;
  translate: none;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 768px) {
  .developer__img-content-1 {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .developer__img-content-1 {
    width: 140%;
    height: 140%;
    top: 30%;
    left: 60%;
  }
}
.developer__img-content-2 {
  position: absolute;
  width: 220%;
  height: 220%;
  left: 50%;
  top: 60%;
  scale: none;
  translate: none;
  transform: translate(-50%, -50%) rotate(-20deg);
}
@media screen and (max-width: 768px) {
  .developer__img-content-2 {
    display: none;
  }
}
.developer__img-content-2 svg {
  width: 100%;
  height: 100%;
}
.developer__img-content-3 {
  position: absolute;
  width: 130%;
  left: 60%;
  top: 30%;
  translate: none;
  scale: none;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 768px) {
  .developer__img-content-3 {
    width: 100%;
    top: 45%;
    left: 57%;
    transform: translate(-50%, -50%);
  }
}
.developer__img .content__hello {
  width: 200px;
  background: white;
  border-radius: 15px 15px 0;
  height: 60px;
  display: flex;
  padding: 10px 15px;
  box-shadow: 3px 3px 33px #cfcfcf;
  align-items: center;
  z-index: 10;
}
.developer__img .content__hello .main {
  width: 20%;
  font-size: 30px;
}
.developer__img .content__hello .abdillah {
  width: 80%;
}

.langue {
  margin: 0;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .langue {
    padding: 0 20px;
  }
}
.langue__text {
  text-align: center;
  padding: 0 140px;
}
@media screen and (max-width: 768px) {
  .langue__text {
    padding: 0 20px;
  }
}
@media screen and (max-width: 768px) {
  .langue__text p {
    text-align: justify;
  }
}
.langue__programation {
  position: relative;
  overflow: hidden;
}
.langue__programation .imgHiddenOnMobile {
  width: 30%;
}
@media screen and (max-width: 768px) {
  .langue__programation .imgHiddenOnMobile {
    width: 0%;
  }
}
.langue__programation--html {
  margin: 80px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
.langue__programation--html .num_1 {
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 10px 15px;
  border-radius: 25px;
  background-color: #1278f6;
  color: white;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .langue__programation--html .num_1 {
    left: 5px;
    opacity: 0;
  }
}
.langue__programation--html .num_1::after {
  position: absolute;
  content: " ";
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 120px;
  border-left: 3px solid #1278f6;
  display: block;
  z-index: -1;
}
@media screen and (max-width: 768px) {
  .langue__programation--html {
    width: 100%;
  }
}
.langue__programation--html-img {
  text-align: center;
  width: 43%;
}
@media screen and (max-width: 768px) {
  .langue__programation--html-img {
    width: 20%;
  }
}
.langue__programation--html-text {
  width: 35%;
  margin-top: 20px;
  background: linear-gradient(270deg, black, black, #1278f6);
  color: white;
  text-shadow: 2px 2px 4px black;
  padding: 10px 30px;
  border-radius: 0 25px 25px 0;
  position: relative;
  transform: translateX(2000px) scale(1);
  -webkit-transform: translateX(2000px) scale(1);
  opacity: 0;
}
.langue__programation--html-text img {
  display: none;
}
@media screen and (max-width: 768px) {
  .langue__programation--html-text img {
    display: block;
    position: absolute;
    width: 10%;
    top: 10px;
    right: 10px;
  }
}
@media screen and (max-width: 768px) {
  .langue__programation--html-text {
    width: 80%;
    font-size: 10px;
    padding: 10px 15px;
  }
}
.langue__programation--css {
  margin: 80px 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  position: relative;
}
.langue__programation--css .num_2 {
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 10px 15px;
  border-radius: 25px;
  background-color: #1278f6;
  color: white;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .langue__programation--css .num_2 {
    left: 5px;
    opacity: 0;
  }
}
.langue__programation--css .num_2::after {
  position: absolute;
  content: " ";
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 120px;
  border-left: 3px solid #1278f6;
  display: block;
  z-index: -1;
}
@media screen and (max-width: 768px) {
  .langue__programation--css {
    width: 100%;
    margin: 80px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.langue__programation--css-img {
  text-align: center;
  width: 43%;
}
@media screen and (max-width: 768px) {
  .langue__programation--css-img {
    width: 20%;
  }
}
.langue__programation--css-text {
  width: 35%;
  margin-top: 20px;
  background: linear-gradient(270deg, black, black, #1278f6);
  color: white;
  text-shadow: 2px 2px 4px black;
  padding: 10px 30px;
  border-radius: 0 25px 25px 0;
  position: relative;
  transform: translateX(2000px) scale(1);
  -webkit-transform: translateX(2000px) scale(1);
  opacity: 0;
}
.langue__programation--css-text img {
  display: none;
}
@media screen and (max-width: 768px) {
  .langue__programation--css-text img {
    display: block;
    position: absolute;
    width: 10%;
    top: 10px;
    right: 10px;
  }
}
@media screen and (max-width: 768px) {
  .langue__programation--css-text {
    width: 80%;
    font-size: 10px;
    padding: 10px 15px;
  }
}
.langue__programation--js {
  margin: 80px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
.langue__programation--js .num_3 {
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 10px 15px;
  border-radius: 25px;
  background-color: #1278f6;
  color: white;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .langue__programation--js .num_3 {
    left: 5px;
    opacity: 0;
  }
}
.langue__programation--js .num_3::after {
  position: absolute;
  content: " ";
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 120px;
  border-left: 3px solid #1278f6;
  display: block;
  z-index: -1;
}
@media screen and (max-width: 768px) {
  .langue__programation--js {
    width: 100%;
    margin: 80px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.langue__programation--js-img {
  text-align: center;
  width: 43%;
}
@media screen and (max-width: 768px) {
  .langue__programation--js-img {
    width: 20%;
  }
}
.langue__programation--js-text {
  width: 35%;
  margin-top: 20px;
  background: linear-gradient(270deg, black, black, #1278f6);
  color: white;
  text-shadow: 2px 2px 4px black;
  padding: 10px 30px;
  border-radius: 0 25px 25px 0;
  position: relative;
  transform: translateX(2000px) scale(1);
  -webkit-transform: translateX(2000px) scale(1);
  opacity: 0;
}
.langue__programation--js-text img {
  display: none;
}
@media screen and (max-width: 768px) {
  .langue__programation--js-text img {
    display: block;
    position: absolute;
    width: 10%;
    top: 10px;
    right: 10px;
  }
}
@media screen and (max-width: 768px) {
  .langue__programation--js-text {
    width: 80%;
    font-size: 10px;
    padding: 10px 15px;
  }
}
.langue__programation--sass {
  margin: 80px 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  position: relative;
}
.langue__programation--sass .num_4 {
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 10px 15px;
  border-radius: 25px;
  background-color: #1278f6;
  color: white;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .langue__programation--sass .num_4 {
    left: 5px;
    opacity: 0;
  }
}
.langue__programation--sass .num_4::after {
  position: absolute;
  content: " ";
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 120px;
  border-left: 3px solid #1278f6;
  display: block;
  z-index: -1;
}
@media screen and (max-width: 768px) {
  .langue__programation--sass {
    width: 100%;
    margin: 80px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.langue__programation--sass-img {
  text-align: center;
  width: 43%;
}
@media screen and (max-width: 768px) {
  .langue__programation--sass-img {
    width: 20%;
  }
}
.langue__programation--sass-text {
  width: 35%;
  margin-top: 20px;
  background: linear-gradient(270deg, black, black, #1278f6);
  color: white;
  text-shadow: 2px 2px 4px black;
  padding: 10px 30px;
  border-radius: 0 25px 25px 0;
  position: relative;
  transform: translateX(2000px) scale(1);
  -webkit-transform: translateX(2000px) scale(1);
  opacity: 0;
}
.langue__programation--sass-text img {
  display: none;
}
@media screen and (max-width: 768px) {
  .langue__programation--sass-text img {
    display: block;
    position: absolute;
    width: 10%;
    top: 10px;
    right: 10px;
  }
}
@media screen and (max-width: 768px) {
  .langue__programation--sass-text {
    width: 80%;
    font-size: 10px;
    padding: 10px 15px;
  }
}
.langue__programation--react {
  margin: 80px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
.langue__programation--react .num_5 {
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 10px 15px;
  border-radius: 25px;
  background-color: #1278f6;
  color: white;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .langue__programation--react .num_5 {
    left: 5px;
    opacity: 0;
  }
}
.langue__programation--react .num_5::after {
  position: absolute;
  content: " ";
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 120px;
  border-left: 3px solid #1278f6;
  display: block;
  z-index: -1;
}
@media screen and (max-width: 768px) {
  .langue__programation--react {
    width: 100%;
    margin: 80px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.langue__programation--react-img {
  text-align: center;
  width: 43%;
}
@media screen and (max-width: 768px) {
  .langue__programation--react-img {
    width: 20%;
  }
}
.langue__programation--react-text {
  width: 35%;
  margin-top: 20px;
  background: linear-gradient(270deg, black, black, #1278f6);
  color: white;
  text-shadow: 2px 2px 4px black;
  padding: 10px 30px;
  border-radius: 0 25px 25px 0;
  position: relative;
  transform: translateX(2000px) scale(1);
  -webkit-transform: translateX(2000px) scale(1);
  opacity: 0;
}
.langue__programation--react-text img {
  display: none;
}
@media screen and (max-width: 768px) {
  .langue__programation--react-text img {
    display: block;
    position: absolute;
    width: 10%;
    top: 10px;
    right: 10px;
  }
}
@media screen and (max-width: 768px) {
  .langue__programation--react-text {
    width: 80%;
    font-size: 10px;
    padding: 10px 15px;
  }
}

.outils {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  background-color: #eeeeee;
  margin: 50px 0 0 0;
}
.outils h2 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.outils_img {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 50px;
}
.outils_img-1 {
  width: 5%;
  -o-object-fit: contain;
     object-fit: contain;
}
.outils_img-2 {
  width: 10%;
  -o-object-fit: contain;
     object-fit: contain;
}
.outils_img-3 {
  width: 15%;
  -o-object-fit: contain;
     object-fit: contain;
}
.outils_img-4 {
  width: 7%;
  -o-object-fit: contain;
     object-fit: contain;
}
.outils_img-5 {
  width: 10%;
  -o-object-fit: contain;
     object-fit: contain;
}

.portfolio {
  padding: 40px 50px;
  position: relative;
  margin: 0 0 50px 0;
  background-image: url("/assets/images/svg/backgroundPortfolio.svg");
  background-size: contain;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}
@media screen and (max-width: 1024px) {
  .portfolio {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
}
@media screen and (max-width: 768px) {
  .portfolio {
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }
}
.portfolio .article {
  border-radius: 0px 60px;
  background: white;
  box-shadow: 0px 4px 22px 0px rgba(18, 120, 246, 0.3);
  height: 300px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 768px) {
  .portfolio .article {
    height: 230px;
    border-radius: 0 30px;
  }
}
.portfolio__article1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .portfolio__article1 {
    grid-column: span 2;
  }
}
.portfolio__article1 h2 {
  margin: 20px 0 0 0;
  border-left: 8px solid #FCDDEC;
  padding-left: 10px;
}
.portfolio__article-projet {
  height: 100%;
  padding: 0 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  box-sizing: border-box;
  transition: all 0.3s ease-in;
}
.portfolio__article-projet img {
  display: block;
  margin: 0 auto;
  width: 50%;
}
.portfolio__article-projet .ohmyfood {
  width: 90% !important;
}
.portfolio__article-projet h3 {
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .portfolio__article-projet h3 {
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  .portfolio__article-projet p {
    font-size: 12px;
  }
}
.portfolio__article-projet i {
  position: absolute;
  right: 20px;
  bottom: 20px;
  padding: 10px 15px;
  background: #FCDDEC;
  border-radius: 25px;
}
@media screen and (max-width: 768px) {
  .portfolio__article-projet i {
    font-size: 12px;
    padding: 5px;
    bottom: 10px;
    right: 10px;
  }
}
.portfolio__article-projetX {
  overflow: hidden;
  background: transparent;
  height: 100%;
  padding: 0 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  display: none;
  transform: translate(350px);
  -webkit-transform: translate(350px);
  color: white;
  transition: all 0.3s ease-in;
}
.portfolio__article-projetX h3 {
  margin: 40px 0 0 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
@media screen and (max-width: 768px) {
  .portfolio__article-projetX h3 {
    font-size: 12px;
  }
}
.portfolio__article-projetX p {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
@media screen and (max-width: 768px) {
  .portfolio__article-projetX p {
    font-size: 12px;
  }
}
.portfolio__article-projetX .projetX__logo-langue .bookiHtml {
  width: 30%;
}
.portfolio__article-projetX .projetX__logo-langue .bookiCss {
  margin-top: -4px;
  width: 28%;
}
.portfolio__article-projetX a {
  position: absolute;
  right: 20px;
  bottom: 20px;
  padding: 10px 15px;
  background: #FCDDEC;
  color: black;
  border-radius: 25px;
}
@media screen and (max-width: 768px) {
  .portfolio__article-projetX a {
    font-size: 10px;
    padding: 5px;
  }
}
.portfolio .showMore {
  position: absolute;
  text-decoration: underline;
  margin-top: 30px;
  right: 40px;
  bottom: -20px;
}

@keyframes turnAround {
  0% {
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%) rotate(359deg);
  }
}
@keyframes apparitionDroiteMobile {
  0% {
    transform: translateX(2000px) scale(1);
    -webkit-transform: translateX(2000px) scale(1);
    opacity: 0;
  }
  25% {
    transform: translateX(150px) scale(1.1, 0.7);
    -webkit-transform: translateX(200px) scale(1.1, 0.7);
    opacity: 0.7;
  }
  50% {
    transform: translateX(-30px) scale(0.8, 1.2);
    -webkit-transform: translateX(-30px) scale(0.8, 1.2);
    opacity: 0.8;
  }
  75% {
    transform: translateX(30px) scale(0.9, 1.1);
    -webkit-transform: translateX(30px) scale(0.9, 1.1);
    opacity: 0.9;
  }
  100% {
    transform: translateX(0) scale(1);
    -webkit-transform: translateX(0) scale(1);
    opacity: 1;
  }
}
@keyframes invisibleElement {
  to {
    opacity: 1;
  }
  from {
    opacity: 0;
  }
}
@keyframes resteFixe {
  to {
    transform: translateX(0) scale(1);
    -webkit-transform: translateX(0) scale(1);
    opacity: 1;
  }
  from {
    transform: translateX(0) scale(1);
    -webkit-transform: translateX(0) scale(1);
    opacity: 1;
  }
}
@keyframes numeroPloof {
  0% {
    transform: scale(0);
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1;
  }
}
.developer__img-content-1 {
  animation: turnAround 30s both cubic-bezier(0.49, 0.47, 0.7, 0.71) infinite;
  -webkit-animation: turnAround 30s both cubic-bezier(0.49, 0.47, 0.7, 0.71) infinite;
}

.developer__img-content-2 {
  animation: turnAround 20s both cubic-bezier(0.49, 0.47, 0.7, 0.71) infinite reverse;
  -webkit-animation: turnAround 20s both cubic-bezier(0.49, 0.47, 0.7, 0.71) infinite reverse;
}

.langue__programation .js-apparitionDroite {
  animation: apparitionDroiteMobile 0.9s ease-out forwards;
  -webkit-animation: apparitionDroiteMobile 0.9s ease-out forwards;
}
.langue__programation .js-numberApparition {
  animation: numeroPloof 0.4s ease-out forwards;
  -webkit-animation: numeroPloof 0.4s ease-out forwards;
}
@media screen and (max-width: 768px) {
  .langue__programation .js-apparanceInvisible {
    animation: invisibleElement 0.9s ease-out 1 both;
    -webkit-animation: invisibleElement 0.9s ease-out 1 both;
  }
}

.portfolio .article:hover {
  background: linear-gradient(180deg, #1278f6, white);
  border-radius: 60px 60px 0 60px;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 768px) {
  .portfolio .article:hover {
    border-radius: 30px 30px 0 30px;
  }
}
.portfolio .article:hover .hiddenOnHover {
  display: none;
  overflow: hidden;
  transition: all 0.3s ease-in;
}
.portfolio .article:hover .showOnHover {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  display: flex;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  overflow: visible;
  transition: all 0.3s ease-in;
}/*# sourceMappingURL=style.css.map */