// Section developpeur
.developer {
    height: 90vh;
    margin: 0;
    overflow: hidden;
    padding: 40px 50px;
    background: url('../images/svg/Vector1.svg'), url('../images/svg/Vector2.svg');
    background-position: center center, center center;
    background-repeat: no-repeat, no-repeat;
    background-size: 100% 100%, 100% 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media screen and (max-width: 768px) {
        flex-direction: column;
        padding: 40px 20px;
        height: 100vh;
        justify-content: space-evenly;
        background: url("../images/photo/cocotier.png");
        background-size: 100% 100%;
    }
    // cursor: url('/assets/images/svg/cursor.svg') 50 50, auto;
    article {
        width: 50%;
        @media screen and (max-width: 768px) {
            width: 100%;
            box-sizing: border-box;
        }
    }

    &__text {
        padding: 20px 80px;
        height: 50%;
        margin: 150px 0 0 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        @media screen and (max-width: 768px) {
            padding: 10px 20px;
            display: block;
            margin: 0;
            width: 100%;
            color: white;
            text-shadow: 2px 2px 6px black;
            height: auto; 
        }
        h1 {
            font-size: 50px;
            @media screen and (max-width: 768px) {
                font-size: 28px;
                height: 100px;
            }
        }

        p {
            margin: 50px auto 60px auto;
            @media screen and (max-width: 768px) {
                display: none;
            }
        }

        button {
            @include bouton();
            @media screen and (max-width: 768px) {
                background: $third-color;
                color: black;
                display: none;
            }
            .fa-chevron-right {
                font-size: 10px;
            }
        }
    }

    &__img {
        position: relative;
        @media screen and (max-width: 768px) {
            height: 500px;
            width: 100%;
        }
        &-content {
            position: absolute;
            width: 30vw;
            height: 35vh;
            right: 25%;
            bottom: 35%;
            @media screen and (max-width: 768px) {
                padding: 10px 20px;
                margin: 20px 0 0 0;
                width: 100%;
                height: 100%;
                top: 50%;
                left: 50%;
                transform: translate( -50%, -50% );
            }
            // background-color: yellow;
            @media screen and (min-width: 768px) {
                bottom: 25%;
            }

            overflow: visible;

            &-1 {
                position: absolute;
                width: 165%;
                height: 165%;
                left: 50%;
                top: 60%;
                transform: translate(-50%, -50%);
                @media screen and (max-width: 768px) {
                    display: none;
                }
                @media screen and (min-width: 1024px) {
                    width: 140%;
                    height: 140%;
                    top: 30%;
                    left: 60%;
                }
            }

            &-2 {
                position: absolute;
                width: 220%;
                height: 220%;
                left: 50%;
                top: 60%;
                transform: translate(-50%, -50%) rotate(-20deg);
                @media screen and (max-width: 768px) {
                    display: none;
                }
                svg {
                    width: 100%;
                    height: 100%;
                }
            }

            // Photo Abdillah 
            &-3 {
                position: absolute;
                width: 130%;
                left: 60%;
                top: 30%;
                transform: translate(-50%, -50%);
                @media screen and (max-width: 768px) {
                    width: 100%;
                    top: 45%;
                    left: 57%;
                    transform: translate( -50%, -50% );
                }
            }
        }

        .content__hello {
            width: 200px;
            background: white;
            border-radius: 15px 15px 0;
            height: 60px;
            display: flex;
            padding: 10px 15px;
            box-shadow: 3px 3px 33px #cfcfcf;
            align-items: center;
            z-index: 10;

            .main {
                width: 20%;
                font-size: 30px;
            }

            .abdillah {
                width: 80%;

            }
        }
    }
}

// Section langues informatique 
.langue {
    margin: 0;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__text {
        text-align: center;
        padding: 0 140px;
        @media screen and (max-width: 768px) {
            padding: 0 20px;
            
        }
    }

    &__programation {
        position: relative;
        overflow: hidden;

        img {
            width: 30%;
            @media screen and (max-width: 768px) {
                width: 80%;
            }
        }

        .num_1 {
            position: absolute;
            left: 50%;
            top: 10%;
            padding: 10px 15px;
            border-radius: 25px;
            background-color: $main-color;
            color: $btn-text-color;
            font-weight: bold;
            @media screen and (max-width: 768px) {
                left: 5px;
            }
        }

        .num_1::after {
            position: absolute;
            content: " ";
            left: 50%;
            top: 20%;
            transform: translate(-50%, -50%);
            height: 2500px;
            border-left: 3px dashed $main-color;
            display: block;
            z-index: -1;
        
        }

        // Partie html
        &--html {
            @include langueArticleDisplay();
            @media screen and (max-width: 768px) {
                width: 100%;
            }
            &-img {
                text-align: right;
                width: 43%;
                @media screen and (max-width: 768px) {
                    width: 20%;
                }
            }

            &-text {
                @include langueInformatique();
                border-radius: 0 25px 25px 0;
                @media screen and (max-width: 768px) {
                    width: 70%;
                    font-size: 12px;
                }
            }
        }

        // Partie Css
        &--css {
            @include langueArticleDisplay(row-reverse);
            @media screen and (max-width: 768px) {
                width: 100%;
                @include langueArticleDisplay();
            }
            &-img {
                text-align: left;
                width: 43%;
                @media screen and (max-width: 768px) {
                    width: 20%;
                }
            }

            &-text {
                @include langueInformatique();
                border-radius: 25px 0 0 25px;
                @media screen and (max-width: 768px) {
                    width: 70%;
                    font-size: 12px;
                }
            }
        }

        // Partie Javascript
        &--js {
            @include langueArticleDisplay(row);
            @media screen and (max-width: 768px) {
                width: 100%;
                @include langueArticleDisplay();
            }
            &-img {
                text-align: right;
                width: 43%;
                @media screen and (max-width: 768px) {
                    width: 20%;
                }
            }

            &-text {
                @include langueInformatique();
                border-radius: 0 25px 25px 0;
                @media screen and (max-width: 768px) {
                    width: 70%;
                    font-size: 12px;
                }
            }
        }

        // Partie sass
        &--sass {
            @include langueArticleDisplay(row-reverse);
            @media screen and (max-width: 768px) {
                width: 100%;
                @include langueArticleDisplay();
            }
            &-img {
                text-align: left;
                width: 43%;
                @media screen and (max-width: 768px) {
                    width: 20%;
                }
            }

            &-text {
                @include langueInformatique();
                border-radius: 25px 0 0 25px;
                @media screen and (max-width: 768px) {
                    width: 70%;
                    font-size: 12px;
                }
            }
        }

        // Partie react
        &--react {
            @include langueArticleDisplay(row);
            @media screen and (max-width: 768px) {
                width: 100%;
                @include langueArticleDisplay();
            }
            &-img {
                text-align: right;
                width: 43%;
                @media screen and (max-width: 768px) {
                    width: 20%;
                }
            }

            &-text {
                @include langueInformatique();
                border-radius: 0 25px 25px 0;
                @media screen and (max-width: 768px) {
                    width: 70%;
                    font-size: 12px;
                }
            }
        }
    }
}

// Section mes outils 
.outils {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    background-color: #eeeeee;
    margin: 50px 0 0 0;

    h2 {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &_img {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 50px;

        &-1 {
            width: 5%;
            object-fit: contain;
        }

        &-2 {
            width: 10%;
            object-fit: contain;
        }

        &-3 {
            width: 15%;
            object-fit: contain;
        }

        &-4 {
            width: 7%;
            object-fit: contain;
        }

        &-5 {
            width: 10%;
            object-fit: contain;
        }
    }
}

// Section mon portfolio 
.portfolio {
    padding: 40px 50px;
    position: relative;
    margin: 0 0 50px 0;
    background-image: url('/assets/images/svg/backgroundPortfolio.svg');
    background-size: contain;
    background-repeat: no-repeat;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;

    @media screen and (max-width: 1024px) {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }

    @media screen and (max-width: 768px) {
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }

    .article {
        border-radius: 0px 60px;
        background: $btn-text-color;
        box-shadow: 0px 4px 22px 0px rgba(18, 120, 246, 0.30);
        height: 300px;
        overflow: hidden;
        transition: all 0.3s ease-in-out;
        @media screen and (max-width: 768px) {
            height: 230px;
            border-radius: 0 30px;
        }
    }

    &__article1 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;

        @media screen and (max-width: 1024px) and (min-width: 768px) {
            grid-column: span 2;
        }

        h2 {
            margin: 20px 0 0 0;
            border-left: 8px solid $third-color;
            padding-left: 10px;
        }
    }

    &__article {
        &-projet {
            @include boxPortfolio();
            transition: all 0.3s ease-in;

            img {
                display: block;
                margin: 0 auto;
                width: 50%;
            }

            .ohmyfood {
                width: 90% !important;
            }

            h3 {
                margin: 0 auto;
                @media screen and (max-width: 768px) {
                    font-size: 12px;
                }
            }
            p {
                @media screen and (max-width: 768px) {
                    font-size: 12px;
                }
            }

            i {
                position: absolute;
                right: 20px;
                bottom: 20px;
                padding: 10px 15px;
                background: $third-color;
                border-radius: 25px;
                @media screen and (max-width: 768px) {
                    font-size: 10px;
                    padding: 5px;
                }
            }
        }

        &-projetX {
            overflow: hidden;
            background: transparent;
            @include boxPortfolio(flex-start, 100%);
            display: none;
            transform: translate(350px);
            -webkit-transform: translate(350px);
            color: white;
            transition: all 0.3s ease-in;

            h3 {
                margin: 40px 0 0 0;
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
                @media screen and (max-width: 768px) {
                    font-size: 12px;
                }
            }

            p {
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
                @media screen and (max-width: 768px) {
                    font-size: 12px;
                }
            }

            .projetX__logo-langue {
                .bookiHtml {
                    width: 30%;
                }

                .bookiCss {
                    margin-top: -4px;
                    width: 28%;
                }
            }

            a {
                position: absolute;
                right: 20px;
                bottom: 20px;
                padding: 10px 15px;
                background: $third-color;
                color: black;
                border-radius: 25px;
                @media screen and (max-width: 768px) {
                    font-size: 10px;
                    padding: 5px;
                }
            }
        }

    }
    .showMore {
        position: absolute;
        text-decoration: underline;
        margin-top: 30px;
        right: 40px;
        bottom: -20px;
    }
}