// Image 1 tourne en rond 
.developer__img-content-1 {
    animation: turnAround 30s both cubic-bezier(.49,.47,.7,.71) infinite;
    -webkit-animation: turnAround 30s both cubic-bezier(.49,.47,.7,.71) infinite;
}

// Image 2 tourne en rond
.developer__img-content-2 {
    animation: turnAround 20s both cubic-bezier(.49,.47,.7,.71) infinite reverse;
    -webkit-animation: turnAround 20s both cubic-bezier(.49,.47,.7,.71) infinite reverse;
}

//////////// Section langue informatique ///////////
// Apparition depuis droite Mobile
.langue__programation {
    .js-apparitionDroite {
        animation: apparitionDroiteMobile 0.9s ease-out forwards;
        -webkit-animation: apparitionDroiteMobile 0.9s ease-out forwards;
    }
    .js-numberApparition {
        animation: numeroPloof 0.4s ease-out forwards;
        -webkit-animation: numeroPloof 0.4s ease-out forwards;
    }
    .js-apparanceInvisible {
        @media screen and (max-width: 768px) {
            animation: invisibleElement 0.9s ease-out 1 both;
            -webkit-animation: invisibleElement 0.9s ease-out 1 both;
        }
    }
}

//////////// Section portfolio  /////////////////
.portfolio {
    .article:hover {
        background: linear-gradient(180deg, $main-color, $btn-text-color);
        border-radius: 60px 60px 0 60px;
        transition: all 0.3s ease-in-out;
        @media screen and (max-width: 768px) {
            border-radius: 30px 30px 0 30px;
        }
    }
    .article:hover .hiddenOnHover {
        display: none;
        overflow: hidden;
        transition: all 0.3s ease-in;
    }
    .article:hover .showOnHover {
        width: 100%;
        height: 100%;
        padding: 0 20px;
        display: flex;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        overflow: visible;
        transition: all 0.3s ease-in;
    }
}